body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
div .alinhar{
    background-image: linear-gradient(to bottom, #2E2F36 0%, #17181C 100%) ;
    margin: 0rem;
    padding: 0;
    color: white;
}
.alinhar {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    justify-content: center;
  }
  
  .box {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:50px;
  }
  
  .background-compass {
    flex: 1;
    background-image: url('../../assets/imgs/img.png');
    background-repeat: no-repeat;
    background-size:cover;
  }

  span{
    display: none;
}

.header{
    text-align: left;
    margin: 0 29%;
}
header .ola{
    font-size:4rem;
}

header .pheader{
    font-size: 1rem;

}

/*formulario*/
.formulario-login{
    text-align: center;
}
.formulario h3{
    font-size: 2rem;
    box-sizing: border-box;
    text-align: left;
    margin: 1rem 29%;
}
form input{
    width: 20rem;
    height: 1rem;
    padding-inline-start: 1.5rem;
    padding-block: 1.188rem;
    background: transparent;

}
::-webkit-input-placeholder{
    color: white;
    font-size: 1rem;
}

form #password{
    border: 0.125rem solid #F5F5F5;
    border-radius: 2.875rem;
    color: #F5F5F5;
}
span{
    display:none;
}
form #user{
    border: 0.125rem solid #F5F5F5;
    border-radius: 2.875rem;
    color: #F5F5F5;
}
 
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  form .button-log{
    border: 0.125rem solid #FE2E05;
    border-radius: 2.875rem;
    width: 22rem;
    height: 3.875rem;
    background-image: linear-gradient(to bottom,#AD2D14 0%, #F42E07 100%);
    color: white;
    font-size: 1rem;

}

.space{
    margin-block-end: .5rem;
}

.register{
    text-align: center;
    font-family: 'Poppins', sans-serif;}

.error{
    border: 2px solid yellow !important;
}

@media screen and (min-height:1079px){
    .alinhar{
        overflow: hidden;
    }
    .box{
        margin: auto;
    }
}

@media screen and (min-width:1150px){
    .alinhar{
        overflow: hidden;
    }
    .box{
        margin: auto;
    }
}

