.home{
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 100%;
position: absolute;
min-height: 1030px;
height: 100%;
left: 0px;
top: 0px;
background: #17181C;
color: white;
}

.nav{
    background: #1E1F23;
    width: 350px;
    height: 1024px;
    border: 2px solid #2E2F36;

}

.main{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 1090px;
height: 1024px;
}

.header-dash{
box-sizing: border-box;
width: 100%;
height: 73px;
margin: 0;
background: #1E1F23;
border-width: 2px 2px 2px 0px;
border-style: solid;
border-color: #2E2F36;
}

.body{
    box-sizing: border-box;
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px;
gap: 36px;
height: 951px;
}

.posts{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
}

.write-field{
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 16px;

width: 710px;
height: 120px;

/* gray/gray 700 */

background: #1E1F23;
/* gray/gray 600 */

border: 2px solid #2E2F36;
border-radius: 16px;

}

.post{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px;
gap: 16px;
width: 740px;
height: 709px;
background: #1E1F23;
border: 2px solid #2E2F36;
border-radius: 16px;

}

.topics{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 36px;
width: 100%;
height: 879px;
box-sizing: border-box;
}

.trend{
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 20px;
gap: 24px;

width: 250px;
height: 272px;

/* gray/gray 700 */

background: #1E1F23;
/* gray/gray 600 */

border: 2px solid #2E2F36;
border-radius: 16px;
}

.textarea{
    padding: 0;
    margin: 0;
    left: 0;
    background-color: #27282F;
    border-radius: 46px;
    width: 30rem;
    height:32px;
    margin: 0 20px;
    border: 2px solid #2E2F36;

}

.imagem{
    border-radius: 100%;
    width: 32px;
    height: 32px;
}