.home *{
    box-sizing: border-box;
}

.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  position: absolute;
  height: auto;
  left: 0px;
  top: 0px;
  background: #17181c;
  color: white;
}

.nav {
  box-sizing: border-box;
  background: #1e1f23;
  width: 350px;
  height: 100vh;
  border: 2px solid #2e2f36;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1090px;
  height: auto;
}

.header-dash {
    display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
  margin: 0;
  background: #1e1f23;
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: #2e2f36;
}

.header-dash h3{
    justify-content: center;
}

.header-dash i{
    padding:1.5rem;
}

.user-lol{
    margin-left: 80%;
}

.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5vh;
  gap: 2.5vh;
  height: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 2vh;
}

.write-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5vh;
  width: 710px;
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
}
.write-field input::placeholder{
    color: #75767D;
    padding-inline-start: 20px;
}
.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh 0px;
  gap: 1.5vh;
  width: 740px;
  height: auto;
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2.5vh;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.trend {
  box-sizing: border-box;
  align-items: flex-start;
  padding: 2vh 1.5vh;
  gap: 2vh;
  width: 250px;
  min-height: 300px;
  height: 300px;
  background: #1e1f23;
  border: 2px solid #2e2f36;
  border-radius: 16px;
  flex-grow: 1;
}

.friends{
  overflow-y: scroll;

}
.friends::-webkit-scrollbar{
  display: none;
}

.trend h3{
    margin: 0;
    padding: 0;
}

.trend-b{
    background-color:#1E1F23;
    border: none;
    color: white;
}
.textarea {
  padding: 0;
  margin: 0;
  left: 0;
  background-color: #27282f;
  border-radius: 46px;
  width: 36rem;
  height: 32px;
  margin: 0 20px;
  border: 2px solid #2e2f36;
  font-family: 'Poppins';

}


.dash-b{
    box-sizing: border-box;
    margin-top:1rem;
    border: 2px solid #27282F;
    border-radius: 8px;
    width: 109px;
    height: 33px;
    background-color: #1E1F23;
    color: white;
    margin-inline-start: 56%;
    font-family: 'Poppins';

}

.Sempre i{
    padding: 10px;
    color: gray;
}

.compassnegativo{
    width: 15rem;
    padding: 20px;
}

.ul-dash{
  padding: 0;
}
.lista-d{
    list-style: none;
    margin: 0;
    padding: 10px;
}

/*Posts*/

.card{
  width: 740px;
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;

}
.foto-user {
  display: flex;
  align-items: center; 
}

.foto-user img {
  width: 50px; 
  height: auto; 
  margin-right: 10px; 
  border-radius: 100%;
}

.description-post{
  display: flex;
}
.description-post p{
margin: 0;
color: #75767D;

}
.span-dash{
  display: inline-block;
  color: white;
}
.description-post i{
  margin: 0;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  color: #75767D;
  }

.column{
  display: inline-block;
}

.column h4{
  margin: 0;
  letter-spacing: 2px;
}

.post-description{
  margin: 0;
  padding-block-start: 0.5rem;
}

.botoes{
  display: flex;
  padding: 1rem 0;
}

.botoes button{
  background-color: #1e1f23;
  color: #A1A3A7;
  border: none;
  font-family: 'Inter';
  width: 100%;
  font-size: 16px;
}

.botoes button:hover{
  background-color: #1e1f23;
  color: #2D86FC;
  border: none;
  font-family: 'Inter';
  width: 100%;
}
.textbox-comment{
  display: flex;
}
.textbox-comment input{
  margin: 10px 20px;
  background-color: #27282f;
  border-radius: 46px;
  width: 100%;
  height: 32px;
  border: 2px solid #2e2f36;
  font-family: 'Poppins';
}

.imagem{
  margin-top: 10px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.placeholder::placeholder{
  color: #75767D;
  padding-inline-start: 20px;
}
button i{
  padding-right: 0.5rem;
}
@media (min-width: 1440px)
{
    .compassnegativo{
        width: 20rem;
        padding: 20px;
    }
}

